.construção {
  text-align: center;
}

.construção h1 {
  color: rgb(212, 173, 0);
  font-family: 'MinhaFonte', sans-serif;
  font-size: 6vw;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
}

.construção img {
  width: 40vw;
  height: auto;
}


/* ----------------------------------*/

.video-container {
  position: relative;
  width: 65vw;
  height: 30vw;
  margin: 20vw auto;

}

.video-container iframe {
  border-radius: 2vw;
  border: 0.4vw solid #000000;
}

/* ----------------- ESPAÇOS ----------- */

.container_espaços {
  width: 85vw;
  min-height: 10vw;
  border-radius: 5vw;
  background-color: rgba(61, 61, 61, 0.801);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
}


.icon-grid {
  margin-top: 10vw;
  margin-bottom: 10vw;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2vw;
  /* Espaçamento entre os ícones */
  column-gap: 0vw;
  /* Ajusta o espaçamento entre as colunas */
  text-align: center;
}

.icon-item {
  margin-left: 6vw;
  display: flex;
  align-items: center;
  /* Alinha verticalmente o texto e o ícone */
  justify-content: left;
  /* Alinha horizontalmente */
  gap: 2vw;
  /* Espaçamento entre o ícone e o texto */
}

.icon-item img {
  width: 3vw;
  /* Tamanho do ícone */
  height: auto;
}

.icon-item p {
  color: aliceblue;
  font-family: 'Nunito', sans-serif;
  font-size: 2vw;
}





.foto-container {
  margin-top: 10vw;
  margin-bottom: 10vw;
  display: flex;
  flex-wrap: wrap;
  /* Permite a quebra das imagens quando atingirem o limite */
  gap: 10vw;
  /* Espaçamento entre as imagens */
  justify-content: space-between;
}

.foto_left,
.foto_right {
  width: 70vw;
  height: auto;

}

.foto_left img {
  width: 100%;
  height: auto;
  /* Mantém a proporção da imagem */
  border-top-right-radius: 2vw;
  border-bottom-right-radius: 2vw;
}

.foto_right img {
  width: 100%;
  /* As imagens ocupam toda a largura da div */
  height: auto;
  /* Mantém a proporção da imagem */
  border-top-left-radius: 2vw;
  border-bottom-left-radius: 2vw;
}

.foto_left {
  margin-right: auto;
  /* Coloca a imagem à esquerda */
}

.foto_right {
  margin-left: auto;
  /* Coloca a imagem à direita */
}

.blur-load {
  filter: blur(10px);
  transition: filter 0.5s ease;
}

.blur-load.loaded {
  filter: blur(0);
}


/* -------------------  Atletas  ------------------- */

.imagem_cinturoes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagem_cinturoes img {
  width: 60vw;
  height: auto;
  border-radius: 2vw;
  margin-top: 12vw;
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.6);
}


.atletas_container {
  background-color: rgba(61, 61, 61, 0.733);
  padding-top: 2vw;
  padding-bottom: 10vw;
  margin-top: 10vw;
  display: row;
  justify-content: space-between;

}

.atletas {
  margin-top: 1vw;
  padding-top: 5vw;
  margin-left: 22vw;
  display: flex;
  /* display: block; */
  gap: 3vw;
  /*Espaço entre foto e nome */
}


.atletas p {
  /* Nomes */
  color: #bbbbbb;
  font-family: 'Roboto', sans-serif;
  font-size: 3.5vw;
}


.foto-principal {
  /*foto atleta*/
  margin-left: 10vw;
  width: 10vw;
  height: 10vw;
  border-radius: 1vw;
  border: 0.3vw solid #d8a006;
}

.cinturao-icon {
  width: 4vw;
  height: auto;
}


.atletas-subicon {
  margin-left: 0.5vw;
  width: 2vw;
  height: auto;
}

.space_medal {
  height: 1.5vw;
}

.fotos_comp_container {
  display: block;
}

.fotos_comp_container img {
  width: 70vw;
  border-radius: 1vw;
  margin-top: 3vw;
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.6);
}

.fotos_comp_left {
  margin-left: 10vw;
}

.fotos_comp_right {
  margin-left: 20vw;
}



/*------------------------------------ */

/* ------------- SOBRE NÓS -------------- */

.lema {

  margin-top: 10vw;
  padding: 5vw;
  align-items: center;
  text-align: center;
  font-family: 'Kaushan', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 4vw;
  letter-spacing: 0.6vw;
  text-shadow: 0.4vw 0.4vw 1vw rgba(0, 0, 0, 0.795);
}



.sobre {
  margin-top: 10vw;
  display: block;
  text-align: center;
  margin-top: 3vw;
  background-color: rgba(61, 61, 61, 0.733);
  display: block;

  padding-top: 5vw;
  padding-bottom: 5vw;
  text-align: center;
  align-items: center;
}



.sobre p {
  padding-left: 15vw;
  padding-right: 15vw;
  text-align: center;
  color: rgb(217, 219, 221);
  font-family: 'Inter', sans-serif;
  font-size: 1.5vw;
  text-align: justify;
  letter-spacing: 0.05em;
  line-height: 1.6;
  word-break: normal;
  hyphens: auto;
  margin-bottom: 2.5vw;
}

/* ========================
   Galeria de Imagens
=========================== */

.galeria {
  padding: 5vw;
}


.galeria-imagens {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}

.galeria-imagens img {
  transition: transform 0.2s;
  object-fit: cover;
}

.galeria-imagens img:hover {
  transform: scale(1.05);
}

/* ========================
   Carrossel de Imagens Secundárias
=========================== */

.galeria-imagens-scroll {
  display: flex;
  overflow-x: auto;
  gap: 1vw;
  scroll-snap-type: x mandatory;
}

.galeria-imagens-scroll img {
  flex: 0 0 auto;
  scroll-snap-align: start;
  width: 30vw;
  height: 20vw;
  object-fit: cover;
  border-radius: 1vw;
  cursor: pointer;
  transition: transform 0.2s;
}

.galeria-imagens-scroll img:hover {
  transform: scale(1.05);
}

.galeria-imagens-scroll {
  scrollbar-width: auto;
}


/* ========================
   Visualizador Fullscreen
=========================== */

#imagem-viewer {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.9);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}



#imagem-viewer .navegacao {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  user-select: none;
  padding: 2vw;
}

#imagem-viewer .prev {
  left: 10vw;
}

#imagem-viewer .next {
  right: 10vw;
}

#imagem-viewer .fechar {
  position: absolute;
  top: 3vw;
  right: 3vw;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding-top: 2vw;
  padding-right: 2vw;
  padding-left: 40vw;
  padding-bottom: 40vw;
}


#imagem-viewer .fechar img {
  width: 5vw;
  height: auto;
  pointer-events: none;
}

#imagem-viewer .navegacao img {
  width: 5vw;
  height: auto;
  pointer-events: none;
}

.imagem-scroll-container {
  margin-left: 2vw;
  margin-right: 2vw;
  gap: 2vw;
  display: flex;
  overflow-x: scroll;
  width: 100%;
  height: 100%;
  scroll-snap-type: x mandatory;
  align-items: center;
  justify-content: flex-start;
}

.imagem-scroll-container::-webkit-scrollbar {
  display: none;
}

.imagem-fullscreen {
  flex: 0 0 100%;
  height: auto;
  max-height: 90vh;
  scroll-snap-align: center;
  object-fit: contain;
  border-radius: 12px;
}















@media (max-width: 768px) {
  .construção img {
    width: 40vw;
    height: auto;
  }

  .video-container {
    position: relative;
    width: 90vw;
    height: 50vw;
    margin: 20vw auto;
    border-radius: 1vw;
  }

  .video-container iframe {
    border-radius: 3vw;
    border: 0.8vw solid #000000;
  }



  .container_espaços {
    text-align: center;
    width: 100%;
    border-radius: 0vw;
  }



  .icon-grid {
    margin-top: 10vw;
    margin-bottom: 10vw;
    grid-gap: 2vw;
    /* Espaçamento entre os ícones */
    column-gap: 0vw;
    /* Ajusta o espaçamento entre as colunas */

  }

  .icon-item {
    margin-left: 6vw;

    gap: 2vw;
    /* Espaçamento entre o ícone e o texto */
  }

  .icon-item img {
    width: 5vw;
    /* Tamanho do ícone */
    height: auto;
  }

  .icon-item p {
    font-size: 4vw;
  }


  .foto-container {
    margin-top: 20vw;
    gap: 20vw;
    /* Espaçamento entre as imagens */

  }

  .foto_left,
  .foto_right {
    width: 80vw;
    /* Define a largura das imagens */


  }

  .foto_left img {
    width: 100%;
    /* As imagens ocupam toda a largura da div */
    height: auto;
    /* Mantém a proporção da imagem */
    border-top-right-radius: 5vw;
    border-bottom-right-radius: 5vw;
  }

  .foto_right img {

    width: 100%;
    /* As imagens ocupam toda a largura da div */
    height: auto;
    /* Mantém a proporção da imagem */
    border-top-left-radius: 5vw;
    border-bottom-left-radius: 5vw;
  }


  /* =============================
   SOBRE NÓS 
   =============================
*/

  .lema {
    margin-top: 15vw;
    padding: 5vw;
    font-size: 10vw;
    letter-spacing: 1vw;
    text-shadow: 2vw 2vw 5vw rgba(0, 0, 0, 0.897);
  }

  .sobre {
    margin-top: 10vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
  }



  .sobre p {
    text-indent: 5vw; 
    margin-top: 10vw;
    padding-left: 10vw;
    padding-right: 10vw;
    font-size: 4vw;
    letter-spacing: 0.05em;
    line-height: 6.5vw;
    margin-bottom: 2.5vw;
  }

  /* ========================
   Galeria de Imagens
=========================== */

  .galeria {
    padding: 5vw;
  }

  /* ========================
   Carrossel de Imagens Secundárias
=========================== */
  .galeria-imagens-scroll {
    gap: 3vw;
  }

  .galeria-imagens-scroll img {
    width: 50vw;
    height: 30vw;
    border-radius: 1vw;
  }


  /* ========================
   Visualizador Fullscreen
=========================== */

  #imagem-viewer .navegacao {
    top: 50%;
    padding: 2vw;
  }

  #imagem-viewer .prev {
    left: 5vw;
  }

  #imagem-viewer .next {
    right: 5vw;
  }

  #imagem-viewer .fechar {
    top: 3vw;
    right: 3vw;
    padding-top:5vw;
    padding-right: 5vw;
    padding-left: 40vw;
    padding-bottom: 40vw;
  }


  #imagem-viewer .fechar img {
    width: 20vw;
  }

  #imagem-viewer .navegacao img {
    width: 10vw;
    height: 12vw;
  }

  .imagem-scroll-container {
    margin-left: 5vw;
    margin-right: 5vw;
    gap: 10vw;
  }

.imagem-fullscreen {
  flex: 0 0 auto;
  max-width: 90vw;
  max-height: 90vh;
  object-fit: contain;
  margin: auto;
  border-radius: 12px;
}




  /* -------------------  Atletas  ------------------- */
  .imagem_cinturoes img {
    width: 85vw;
    border-radius: 2vw;
    margin-top: 20vw;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.6);
  }


  .atletas_container {
    padding-top: 2vw;
    padding-bottom: 10vw;
    margin-top: 10vw;


  }

  .atletas {
    margin-top: 5vw;
    padding-top: 5vw;
    margin-left: 7vw;
    gap: 5vw;
    /*Espaço entre foto e nome */
  }


  .atletas p {
    /* Nomes */
    font-size: 6vw;
  }

  .atletas h3 {
    font-size: 5vw;
  }

  .foto-principal {
    /*foto atleta*/
    width: 20vw;
    height: auto;
    border-radius: 1vw;
    border: 0.8vw solid #d8a006;
  }

  .cinturao-icon {
    width: 8vw;

  }


  .atletas-subicon {
    margin-left: 1vw;
    width: 3.7vw;
  }

  .space_medal {
    height: 1.5vw;
  }


  /*------------------------------------ */




}