          * {
              margin: 0;
              padding: 0;
              box-sizing: content-box;
              user-select: none;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              -webkit-tap-highlight-color: transparent;

          }

          :root {
              color-scheme: light only;
          }

          /* Estilo para a tela de carregamento */
          #preload {
              position: fixed;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: rgb(22, 22, 22);
              display: flex;
              justify-content: center;
              align-items: center;
              z-index: 9999;
          }

          #conteudo {
              display: none;
              /* O conteúdo será oculto inicialmente */
          }

          .loading img {
              width: 10vw;
              height: auto;
              animation: spin 2s linear infinite;
              /* Adiciona animação de rotação */
          }



          @font-face {
              font-family: 'MinhaFonte';
              src: url(Fonts/handelsonsix_cyr_six.otf) format('truetype');
          }

          @font-face {
              font-family: 'Roboto';
              src: url(Fonts/Roboto-VariableFont_wdth\,wght.ttf) format('truetype');
          }

          @font-face {
              font-family: 'Inter';
              src: url(Fonts/Inter-VariableFont_opsz\,wght.ttf) format('truetype');
          }

          @font-face {
              font-family: 'Nunito';
              src: url(Fonts/Nunito-VariableFont_wght.ttf) format('truetype');
          }

          @keyframes spin {
              0% {
                  transform: rotate(0deg);
                  /* Começa com a imagem sem rotação */
              }

              100% {
                  transform: rotate(360deg);
                  /* Gira a imagem 360 graus */
              }
          }

          @keyframes zoomEffect {
              0% {
                  transform: scale(1);
                  /* Inicia com o tamanho normal */
              }

              50% {
                  transform: scale(1.15);
                  /* Aumenta para 20% */
              }

              100% {
                  transform: scale(1);
                  /* Volta ao tamanho normal */
              }
          }

          @keyframes piscar-borda {
              0% {
                  border-color: rgba(22, 22, 22, 0.911);
                  ;
                  box-shadow: 0 0 5px rgba(172, 202, 0, 0.856);
              }

              50% {
                  border-color: rgba(22, 22, 22, 0.911);
                  ;
                  box-shadow: 0 0 15px rgba(172, 202, 0, 0.856);
              }

              100% {
                  border-color: rgba(22, 22, 22, 0.911);
                  ;
                  box-shadow: 0 0 5px rgba(172, 202, 0, 0.856);
              }
          }

          @keyframes float {
              0% {
                  transform: translateY(0);
              }

              50% {
                  transform: translateY(-1vw);
              }

              100% {
                  transform: translateY(0);
              }
          }



          @keyframes fadeInMove {
              from {
                  opacity: 0;
                  transform: translateY(-20px);
              }

              to {
                  opacity: 1;
                  transform: translateY(0);
              }
          }

          @keyframes fadeInLeft {
              from {
                  opacity: 0;
                  transform: translateX(-50px);
              }

              to {
                  opacity: 1;
                  transform: translateX(0);
              }
          }

          /*fade in das modalidades*/
          .fade-in-left {
              opacity: 0;
              transform: translateX(-50px);
              /* Começa deslocada para a esquerda */
              animation: fadeInLeft 0.5s ease-in-out forwards;
          }


          /*fade in do header*/
          .fade-in {
              opacity: 0;
              transform: translateY(-20px);

              animation: fadeInMove 0.5s ease-in-out forwards;
              animation-delay: 0.2s;
          }


          html {
              scroll-behavior: smooth;
          }

          body {
              background-image: url("Backgrounds/background_redux.png");
              background-repeat: repeat-y;
              background-size: 100%;
              background-position: center;
              overflow-x: hidden;
          }





          h1 {
              /*modalidades*/
              color: rgb(212, 173, 0);
              font-family: 'MinhaFonte', sans-serif;
              font-size: 6vw;
              text-align: center;
              margin-right: 10px;
              margin-left: 10px;
              text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);

          }

          /*Imagem Equipe Black Horses*/
          .img_prin {
              width: 100vw;
              /*height: 320px;*/
              height: 40vw;
              object-fit: cover;
              object-position: top;

              position: absolute;
              top: 0;
              left: 0;
              z-index: -1;
              mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.877) 96%, transparent);

          }

          /*Cabeçalho*/
          header {
              background-color: rgba(22, 22, 22, 0.856);
              color: rgba(255, 255, 255, 0.911);
              padding: 2%;
              display: flex;
              justify-content: space-between;
              align-items: center;

              background: linear-gradient(to bottom, rgba(20, 20, 20, 0.9), rgba(0, 0, 0, 0.445) 80%, rgba(0, 0, 0, 0.342) 87%, transparent);
              position: relative;
              transition: box-shadow 0.3s ease, padding 0.3s ease;

          }


          .header-left {
              margin-top: 1.5vw;
              text-align: center;
          }

          .brand {
              /*Black Horses*/
              margin-top: -1vw;
              font-family: 'MinhaFonte', sans-serif;
              font-size: 5vw;
              white-space: nowrap;
          }

          .text {
              /*Artes Marciais*/
              font-size: 2vw;
              letter-spacing: 1vw;
              font-family: 'MinhaFonte', sans-serif;
          }

          .header-right {
              margin-right: 4vw;
              font-family: 'Inter', sans-serif;
              font-size: 2vw;
              color: #b8b6b6;

              padding-top: -2;
              display: flex;
              gap: 4vw;
              align-items: center;
          }


          .header-right a:hover {
              transition: transform 0.3s ease, color 0.3s ease;
              color: #ffffff;
              transform: scale(1.1);
          }



          .overlay {
              position: fixed;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: rgb(107, 107, 107);

              display: none;
              justify-content: center;
              /*alinha no centro (x)*/
              align-items: center;
              /*alinha no centro (y)*/
              z-index: 100;

          }

          /* Conteúdo centralizado */
          .centered-content {
              font-family: 'Inter', sans-serif;
              text-align: center;
              color: white;
              font-size: 24px;
          }

          .centered-content p {
              margin-top: 50px;

          }

          /*aula experimental*/
          .centered-content h4 {

              padding: 20px;
              font-weight: normal;
              font-size: 30px;
              border-radius: 1vw;
              border-color: #33333300;
              border: 0.5vw solid #bbbbbb;
              background-color: rgb(39, 39, 38);
              margin-top: 50px;


          }


          /* Quando o menu estiver aberto, mostra a overlay */
          .overlay.open {
              display: flex;

          }

          /*--------------------  navMenu  -------------------*/
          .nav-icon-5 {

              display: none;
              margin-top: 0.7vw;
              width: 80px;
              height: 46px;

              position: absolute;
              cursor: pointer;
              top: 8vw;
              right: 0;
              z-index: 900;
              outline: none;
              text-decoration: none;
          }


          .nav-icon-5 span {
              background-color: #fff;
              position: absolute;
              border-radius: 2px;
              transition: .3s cubic-bezier(.8, .5, .2, 1.4);
              width: 100%;
              height: 5px;
              /*grossura*/
              transition-duration: 0.4s;
              z-index: 10;
              outline: none;
              text-decoration: none;
          }

          /*linhas*/
          .nav-icon-5 span:nth-child(1) {
              top: 0px;
              left: 0px;
          }

          .nav-icon-5 span:nth-child(2) {
              top: 19px;
              left: 0px;
              opacity: 1;
          }

          .nav-icon-5 span:nth-child(3) {
              bottom: 0px;
              left: 0px;
          }

          /*animação*/
          .nav-icon-5.open span:nth-child(1) {
              transform: rotate(45deg);
              top: 13px;
          }

          .nav-icon-5.open span:nth-child(2) {
              transform: rotate(135deg);
              top: 13px;
          }

          .nav-icon-5.open span:nth-child(3) {
              opacity: 0;
          }
          /* --------------------------- */




          .blocks {
              margin-top: 2vw;
              text-align: center;
              /* Centraliza as imagens */
          }

          .blocks img {
              border-radius: 10%;
              width: 25%;
              height: auto;
              display: inline-block;
              /* Alinha as imagens em linha */
              margin: 0 3vw;
              /* Espaçamento entre as imagens */
              box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.603);
          }


          .icons {
              display: none;
              gap: 2vw;
              align-items: center;
              filter: none;
          }


          .zoom {
              animation: zoomEffect 3s;
              animation-iteration-count: 1;
          }

          .zoom_infinite {
              animation: zoomEffect 3s;
              animation-iteration-count: infinite;
          }

          a {
              text-decoration: none;
              color: inherit;
          }

          a:visited {
              color: inherit;
          }

          a:active,
          a:hover {
              color: inherit;
          }


          .img_div {
              height: 10vw;
              display: block;
              margin: 0 auto;
          }



          .aula_experimental {
              margin-left: auto;
              margin-right: auto;
              width: 20vw;
              height: 5vw;
              background-color: rgb(22, 22, 22);
              margin-top: 17vw;


              display: flex;
              justify-content: center;
              align-items: center;
              text-align: justify;
              cursor: pointer;
              transition: background-color 0.5s ease;
              border-radius: 5vw;
              border: 0.1vw solid #fffffffa;
              box-shadow: 15px 18px 20px rgba(0, 0, 0, 0.322);
              animation: float 2s infinite;
              animation-delay: 2.05s;
          }

          .aula_experimental:hover {
              background-color: #cfdd06;
          }

          .aula_experimental p {
              color: #ffffffda;
              font-family: 'Inter', sans-serif;
              font-size: 2vw;
              text-decoration: none;

          }

          .agendar {
              width: 30vw;
              height: 5vw;
              background-color: #1fc55c;
              margin-right: auto;
              margin-left: auto;
              margin-top: 9vw;
              margin-bottom: 7vw;

              display: flex;
              justify-content: center;
              align-items: center;
              text-align: left;
              cursor: pointer;
              transition: background-color 0.5s ease;
              border-radius: 5vw;
              box-shadow: 15px 18px 20px rgba(0, 0, 0, 0.322);
          }

          .agendar:hover {
              background-color: #075e54;
          }

          .agendar img {
              width: 3.5vw;
              height: auto;
              margin-right: 1.5vw;
          }

          .agendar p {
              color: #ffffff;
              font-family: 'Roboto', 'Inter', sans-serif;
              font-weight: 500;
              font-size: 2vw;
          }

          .titulo {
              /* "Nossos Planos" */
              text-align: center;
              margin-top: 2vw;
              font-family: 'MinhaFonte', sans-serif;
              font-size: 6vw;
              letter-spacing: 0.2vw;
              margin-bottom: 0vw;
              color: #dddbdb;
              text-shadow: 0 0 10px rgb(0, 0, 0);
          }




          /* -------------  Planos  -------------------*/

          .planos_backg {
              /*fundo cinza*/
              width: 85%;
              border-radius: 4vw;
              background-color: rgba(61, 61, 61, 0.801);
              margin-right: auto;
              margin-left: auto;
              text-align: center;
              padding-top: 2vw;
              padding-bottom: 2vw;

              margin-bottom: 5vw;
          }

          .info {
              color: #ececec;
              padding-top: 10px;
              font-family: 'Nunito';
              font-size: 1.5vw;
          }


          /* ------------- */
          details {
              cursor: pointer;
          }

          summary {
              margin-top: 5px;
              margin-right: 30px;
              margin-left: 30px;
              font-size: 1vw;
              color: gray;
          }

          ul {
              list-style-type: none;
              padding-left: 10px;
          }

          li {
              display: block;
              text-align: left;
              margin-top: 5px;
              margin-right: 30px;
              margin-left: 30px;
              font-size: 1vw;
              color: gray;
          }

          /* -------------------------------------- */




          .container {
              display: inline-block;
              position: relative;
              justify-content: center;
          }

          .planos_caixa {
              margin-top: 2vw;
              margin-bottom: 1vw;
              background-color: #c5db00;
              width: 50vw;
              height: 3.5vw;
              border-radius: 1.4vw;
              display: flex;
              justify-content: center;
              /* eixo x */
              align-items: center;
              /* eixo y */
              margin-right: auto;
              margin-left: auto;
          }



          .planos_titulo {
              color: #1d1d1d;
              margin-top: 2px;
              font-size: 3vw;
              font-family: 'MinhaFonte', sans-serif;
          }

          .planos_info {
              margin-top: 10px;
              font-size: 2vw;
              font-weight: 600;
              font-family: 'Nunito', 'Inter', monospace, sans-serif;
              color: #ffffff;
          }

          .planos_caixa_anual {
            margin-top: 2vw;
            margin-bottom: 1vw;
              background-color: #c5db00;
              width: 60vw;
              height: 4.5vw;
              border-radius: 2vw;
              display: flex;
              justify-content: center;
              /* eixo x */
              align-items: center;
              /* eixo y */
              margin-right: auto;
              margin-left: auto;
          }

          .planos_titulo_anual {
              color: #1d1d1d;
              margin-top: 2px;
              font-size: 4vw;
              font-family: 'MinhaFonte', sans-serif;
          }

          .planos_info_anual {
              margin-top: 10px;
              font-size: 3vw;
              font-weight: 600;
              font-family: 'Nunito', 'Inter', monospace, sans-serif;
              color: #ffffff;
          }




          /*---------------------  horarios  -------------------*/
          .tabela_fundo {
              /*fundo cinza da tabela*/
              width: 90%;
              border-radius: 4vw;
              background-color: rgba(61, 61, 61, 0.801);
              margin-right: auto;
              margin-left: auto;
              text-align: center;
              padding-top: 4vw;
              padding-bottom: 4vw;
          }

          .tabela_container {
              display: flex;
              justify-content: center;
              gap: 4.4vw;
              flex-wrap: wrap;
          }

          .tabela_caixa {
              background: #fff;
              width: 23vw;
              padding: 0.7vw;
              border-radius: 0.6vw;
              box-shadow: 10px 10px 20px rgba(2, 2, 0, 0.952);
              text-align: left;
          }

          .tabela_caixa h2 {
              font-family: 'Inter', sans-serif;
              font-size: 2vw;
              background: #1d1d1d;
              color: white;
              padding: 0.7vw;
              border-radius: 0.6vw;
              text-align: center;

          }

          .tabela_caixa p {
              display: flex;
              justify-content: space-between;
              margin-top: 1vw;
              margin-left: 0.4vw;
              font-size: 1.4vw;
              line-height: 2vw;

          }

          .tabela_caixa strong {
              /*dias semana*/
              font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
              width: 10vw;
              flex-shrink: 0;

          }

          .tabela_caixa h6 {
              font-family: Nunito;
              font-size: 0.8vw;
              margin-left: 14vw;
          }

          .horario {
              font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
              flex: 1;
              text-align: center;
          }

          .horario.vazio {
              /*talvez seja desnecessário, mas ajuda na organização*/
              visibility: hidden;
          }









          .icon {
              background: none;
              border: none;
              padding: 0;
              cursor: pointer;
          }

          .icon img {
              margin-top: 1vw;
              width: 2vw;
              height: auto;
          }


          .location {
              border-radius: 3vw;
              background-color: rgba(61, 61, 61, 0.801);
              margin-top: 5vw;
              text-align: center;
          }

          .location p {
              color: #ccc;
              font-family: 'Inter', sans-serif;
              font-size: 1.5vw;
          }

          .location h3 {
              font-family: 'Nunito', sans-serif;
              font-size: 2vw;
              padding-top: 1vw;
              margin-bottom: 0vw;
              color: #f0f0f0;
          }

          .location iframe {

              border-radius: 1vw;
              width: 47vw;
              height: 37vw;
          }






          .site-footer {
              background-color: #26272b;
              padding: 45px 0 20px;
              font-size: 15px;
              line-height: 24px;
              color: #737373;
          }

          .site-footer hr {
              border-top-color: #bbb;
              opacity: 0.5
          }

          .site-footer hr.small {
              margin: 20px 0
          }

          .site-footer h6 {
              color: #fff;
              font-size: 16px;
              text-transform: uppercase;
              margin-top: 5px;
              letter-spacing: 2px
          }

          .site-footer a {
              color: #737373;
          }

          .site-footer a:hover {
              color: #3366cc;
              text-decoration: none;
          }

          .footer-links {
              padding-left: 0;
              list-style: none
          }

          .footer-links li {
              display: block
          }

          .footer-links a {
              color: #737373
          }

          .footer-links a:active,
          .footer-links a:focus,
          .footer-links a:hover {
              color: #3366cc;
              text-decoration: none;
          }

          .footer-links.inline li {
              display: inline-block
          }

          .site-footer .social-icons {
              text-align: right
          }

          .site-footer .social-icons a {
              width: 40px;
              height: 40px;
              line-height: 40px;
              margin-left: 6px;
              margin-right: 0;
              border-radius: 100%;
              background-color: #33353d
          }

          .copyright-text {
              margin: 0
          }




          /* ----------- MODALIDADES ---------------------- */

          .construção {
              text-align: center;
          }

          .construção img {
              width: 40vw;
              height: auto;
          }






















          @media (max-width: 750px) {
              body {
                  background-size: 150%;
                  background-position: center;
              }

              /* ------------- CABEÇALHO ------------- */
              header {
                  padding: 15px;

              }

              .header-left {
                  margin-top: 2vw;
              }

              .brand {
                  /*Black Horses*/
                  font-size: 9vw;
              }

              .text {
                  /*artes marciais*/
                  font-size: 4vw;
                  letter-spacing: 1.4vw;
              }

              .header-right {
                  display: none;
              }

              /* ---------- NavMenu ----------------- */

              .nav-icon-5 {

                  margin-right: 20px;
                  display: block;
                  width: 52px;
                  height: 30px;
              }

              .nav-icon-5 span {
                  height: 4px;
                  /*grossura*/
              }

              /*linhas*/
              .nav-icon-5 span:nth-child(2) {
                  top: 13px;
                  left: 0px;
              }

              .nav-icon-5 span:nth-child(3) {
                  bottom: 0px;
                  left: 0px;
              }


              /* --------------------------------------- */

              .img_prin {
                  height: 80vw;
              }

              .img_div {
                  height: 20vw;
                  margin-bottom: 6vw;
                  margin-top: 6vw;
              }

              .blocks img {
                  border-radius: 10%;
                  width: 70vw;
                  margin-top: 3vw;
                  margin-bottom: 6vw;
              }

              .aula_experimental {
                  animation-delay: 3s;
                  width: 44vw;
                  height: 13vw;
                  border-radius: 10vw;
                  margin-top: 25vw;
              }

              .aula_experimental p {
                  font-size: 4.3vw;
              }

              .titulo {
                  /* "Nossos Planos" */
                  font-size: 12vw;
                  letter-spacing: 0.2vw;
                  padding-top: 3vw;
                  margin-top: 2vw;

              }


              /* ------------------  planos  -------------------*/
              .planos_backg {
                  /*fundo cinza*/
                  width: 80%;
                  padding: 4vw;
                  margin-bottom: 10vw;
              }


              .info {
                  padding-top: 1vw;
                  font-size: 3.2vw;
              }

              
              .planos_caixa {
                  margin-top: 10px;
                  width: 90%;
                  height: 8vw;
                  border-radius: 10px;
              }

              .planos_titulo {
                  margin-top: 2px;
                  font-size: 7vw;
              }

              .planos_info {
                  margin-top: 10px;
                  font-size: 5vw;
                  font-weight: 600;
              }

              .planos_caixa_anual {
                  margin-top: 10px;
                  width: 100%;
                  height: 20%;
                  border-radius: 12px;
              }

              .planos_titulo_anual {
                  margin-top: 2px;
                  font-size: 8vw;
              }

              .planos_info_anual {
                  margin-top: 10px;
                  font-size: 7vw;
                  font-weight: 600;
              }

              .planos_nota {
                  margin-top: 5px;
                  margin-right: 30px;
                  margin-left: 30px;
                  font-size: 10px;
              }

              summary {
                  font-size: 8.5px;
              }


              li {
                  margin-top: 5px;
                  font-size: 3vw;
              }

              /* ---------------------------------------*/



              .agendar {
                  width: 55%;
                  height: 14vw;
                  border-radius: 10vw;
                  padding-right: 8px;
                  padding-left: 8px;

              }

              .agendar img {
                  width: 8vw;
                  height: auto;

              }

              .agendar p {
                  font-size: 4.8vw;
              }



              /* ---------  Horários  -------------*/
              .tabela_fundo {
                  /*fundo cinza da tabela*/
                  text-align: center;
                  border-radius: 4vw;
                  width: 80%;
                  padding: 20px;
                  margin-top: 5px;
                  margin-right: auto;
                  margin-left: auto;
                  margin-bottom: 15vw;
              }

              .tabela_container {
                  display: flex;
                  justify-content: center;
                  gap: 8vw;
                  /*gap entre caixas*/
                  flex-wrap: wrap;
                  line-height: 7vw;
              }

              .tabela_caixa {
                  margin-top: 4vw;
                  padding: 2vw;
                  border-radius: 1.5vw;
                  width: 70vw;
                  height: 40vw;
              }

              .tabela_caixa h2 {
                  /*modalidades*/
                  font-size: 6vw;
                  padding: 2vw;
                  border-radius: 1.5vw;
                  text-align: center;
                  margin-bottom: 4vw;
              }

              .tabela_caixa p {
                  /*horarios*/
                  display: flex;
                  justify-content: space-between;
                  font-size: 5vw;
                  line-height: 20px;
              }

              .tabela_caixa strong {
                  /*dias semana*/
                  margin-left: 1vw;
                  font-size: 5vw;
                  width: 25vw;
              }

              .tabela_caixa h6 {

                  font-family: Nunito;
                  font-size: 2.7vw;
                  margin-left: 32vw;
                  margin-top: -1.2vw;
              }

              /* ------------------------------ */




              /* ------------  Localização  ---------------- */
              .location {
                  text-align: center;
                  border-radius: 4vw;
                  width: 80%;
                  padding: 20px;
                  margin-top: 1vw;
                  margin-bottom: 10vw;
                  margin-right: auto;
                  margin-left: auto;

              }

              .location p {
                  margin-top: 1vw;
                  font-size: 2.5vw;
              }

              .location h3 {
                  font-size: 4vw;
                  padding-top: 1vw;
              }

              .location iframe {
                  margin-top: 3vw;
                  border-radius: 1vw;
                  width: 72vw;
                  height: 100vw;
                  box-shadow: 10px 10px 20px rgba(2, 2, 0, 0.952);

              }

              /* ------------------------------------ */


          }